body {
    font-family: 'Menlo', Consolas, 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
	background-image: linear-gradient(#4775d1, #cc6600, #4d1919);
    background-size: 20% 20% 60%;
    background-repeat: no-repeat;
	color: #b3ffff;

    /*background-color: #142952;
    color: #00ff00;*/
}

h1 {
    font-weight: 900;
}

.container {
    text-align: center;
}

#board-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 1px;
    background-color: #4775d1;
}

.cell {
    width: 39px;
    height: 39px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
	position: relative;
	/*box-sizing: border-box;*/
}

.darker-bottom-border {
	border-bottom: 3px solid #000;
}

.darker-right-border {
	border-right: 3px solid #000;
}


.cell:hover {
    background-color: #002266;
}

.button-container {
    margin-top: 10px;
}

button {
    font-size: 16px;
    margin: 5px;
}
